.header-section{
  background-color:#1f2937;
  display:flex;
  flex-direction:column;
  padding:20px 100px 100px;
}

.navigation{
  display:flex;
  justify-content:space-between;
  align-items:center;
  
  
}

.navigation h2{
  color:white;
  font-family:Roboto, arial, sans-serif;
  font-weight:800;
  font-size:30px;
}

.nav-links{
  display:flex;
  list-style-type:none;
  gap:20px;
  
}

.nav-links a{
  text-decoration:none;
  color:white;
  font-family:Roboto, Helvetica, sans-serif;
}

.hero-section{
  display:flex;
  gap: 70px;
  justify-content:space-between;
  align-items: center;
  flex-wrap:wrap;
}

.hero-text{
  color:white;
  flex-basis:100px;
  flex-grow:1;
  flex-shrink:1;
  font-family:Roboto, Helvetica, sans-serif;
}

.hero-text h1{
  font-size:45px;
  margin-bottom:0px
}

.hero-text button{
  background-color:#3882f6;
  color:white;
  padding:16px;
  font-size:16px;
  font-weight:600;
  border:none;
  border-radius:3px;
}

.hero-image{
  width:300px;
  height:auto;
  flex-grow:1;
  flex-shrink:0;
  flex-basis:auto;
  border-radius:20px;
}

.section2{
  padding:70px 100px 70px;
  display:flex;
  flex-direction:column;
  align-items:center;
  font-family: Roboto, Helvetica, sans-serif;
  gap:30px;
}

.section2 h2{
  font-size:30px;
  font-weight:600;
}

.blurbs-container{
  display:flex;
  gap:60px;
  flex-wrap:wrap;
  align-items:center;
  justify-content:center;
}

.blurb{
  display:flex;
  flex-basis:150px;
  flex-direction: column;
  align-items:center;
  text-align:center;
}

.blurb img{
  border:solid 2px blue;
  width: 100px;
  height:100px;
  border-radius:10px;
}

.quote-section{
  background-color:#e5e7eb;
  display:flex;
  flex-direction:column;
  align-items:center;
  padding:100px 200px;
}

.quote{
  font-family:Roboto, Helvetica, sans-serif;
  font-weight:100;
  font-size:25px;
  margin-bottom:0px;
  
}

.quote-author{
  font-family:Roboto, Helvetica, sans-serif;
  margin-left:auto;
  
}

.last-section{
  display:flex;
  padding:100px;
  justify-content:center;
}

.cta-section{
  background-color:#3882f6;
  flex-basis:800px;
  flex-shrink:1;
  border-radius:20px;
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding:30px 80px;
  flex-wrap:wrap;
  
}

.cta{
  font-family: Roboto, Helvetica, sans-serif;
  color:white;
}

.cta h4{
  font-size:24px;
  font-weight:800;
  margin-bottom:0;
}

.cta-section button{
  border-radius:10px;
  font-size:15px;
  padding:20px;
  border:solid white 3px;
  background-color:#3882f6;
  color:white;
  margin-top:10px;
}

.footer{
  display:flex;
  font-weight:100;
  justify-content:center;
  background-color:#1f2937;
  color:white;
  font-family:Roboto,Helvetica,sans-serif;
  padding:10px;
}